*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 200vh;
  overflow-x: hidden;
}

/* Navbar styles */
.mininav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.6); */
  position: fixed;
  top: 0;
  transition: background-color 0.3s ease; /* Added transition for smooth effect */
  padding: 10px 50px;
  z-index: 1000;
}

.en {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f2f2f2;
  padding: 10px;
}

.en h1 {
  margin: 0;
  font-size: 24px;
}

.en a {
  margin-top: 10px;
  text-decoration: none;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
}
.bn {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f2f2f2;
  padding: 10px;
}

.bn h1 {
  margin: 0;
  font-size: 24px;
}

.bn a {
  margin-top: 10px;
  text-decoration: none;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.6); */
  position: fixed;
  top: 0;
  transition: background-color 0.3s ease; /* Added transition for smooth effect */
  padding: 10px 50px;
  z-index: 1000;
}
.nav-links {
  margin: auto;
}
.navbar.scrolled {
  background-color: #dc3545; /* Change the background color when scrolled */
}

header {
  margin-top: -5rem;
  height: 112vh;
  background-image: url('./img/image-17-1920x998.jpg');
  background-size: cover;
  background-position: center center;
}
ul {
  list-style: none;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  transition: all 0.3s ease;
}

.title-1 {
  font-size: 5rem;
  letter-spacing: 5px;
  color: #fff;
  font-weight: 600;
  position: relative;
  top: 25%;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
.title-2 {
  font-size: 5rem;
  letter-spacing: 5px;
  color: #fff;
  font-weight: 600;
  position: relative;
  top: 25%;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
.para,
.para-2 {
  font-size: 1.2rem;
  color: #fff;
  position: relative;
  font-weight: lighter;
  top: 30%;
  text-align: center;
}
.span {
  color: #dc3545;
  font-size: 2rem;
}
.span.scrolled {
  color: #fff;
}
.btn {
  position: relative;
  top: 35%;
  left: 45%;
  text-align: center;
  background-color: #dc3545;
  color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 1rem;
  transition: all 0.3s ease;
  border: none;
}
.btn:hover {
  background-color: #fff;
  color: #000;
}
.btn:focus {
  outline: none;
}
nav .fa {
  display: none;
}
/* responsive styles */

/* @media screen and (max-width: 768px) {
  .logo {
    width: 150px;
    height: 40px;
  }
  .title-1 {
    font-size: 2rem;
    letter-spacing: 0px;
  }
  .title-2 {
    font-size: 2rem;
    letter-spacing: 0px;
  }
  .para {
    font-size: 1rem;
    font-weight: 300;
    padding: 3px 10px;
    text-align: flex-start;
  }
  .para-2 {
    display: none;
  }
  .btn {
    font-size: 1rem;
    left: 35%;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    background: #dc3545;
    height: 50vh;
    width: 100%;
    top: 0;
    
    text-align: left;
    transition: 1s;
   
  }
  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
} */

@media only screen and (max-width: 768px) {
  .navbar {
    padding: 10px;
  }
  .nav-links {
    display: none;
  }
  nav .fa {
    display: block;
    color: #fff;
    margin-right: 20px;
    font-size: 24px;
    cursor: pointer;
  }
  .nav-links-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  .nav-links-mobile li {
    margin: 10px 0;
  }
  .nav-links-mobile a {
    text-align: center;
    font-size: 20px;
  }
  .navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.6);
  }
}
/* end of navbar styles */

/* start of services style */

.services {
  padding: 2rem;
}

.section-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.col {
  flex: 0 0 calc(16.66% - 20px); /* Adjust as needed */
  margin: 10px;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.col a {
  text-decoration: none;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col i {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.services {
  width: 100%;
  max-width: 1300px;
  /* background-color: #dc3545; */
  margin: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* background-color: #626772; */
  width: 100%;
  height: 100%;
}
.col {
  width: 200px;
  /* background-color: #dc3545; */
  margin: 0.1rem;
  cursor: pointer;
}

/* Responsive styles for mobile screens */
@media screen and (max-width: 768px) {
  .services {
    height: auto;
  }

  .row {
    justify-content: flex-start;
    padding: 10px;
  }

  .col {
    width: calc(50% - 20px);
    margin: 5px;
  }
}
/* end of services style */

/* start of newslatter-contact */

.newslatter-contact {
  width: 100%;
  max-width: 1300px;
  /* background-color: #dc3545; */
  margin: auto;
  height: 60vh;
}
.nc-row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* background-color: red; */
}

.newsletter-container {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 800px;
  margin-right: 2rem;
}

h1 {
  margin-top: 0;
  font-size: 24px;
}

p {
  font-size: 14px;
  color: #888;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

input[type='email'] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 240px;
}

button {
  padding: 10px 20px;
  background-color: #dc3545;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #dc3545;
}

.contact-container {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 2.5rem;
}

h1 {
  margin-top: 0;
  font-size: 24px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
textarea {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 240px;
}

textarea {
  resize: vertical;
}

button {
  padding: 10px 20px;
  background-color: #dc3545;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #dc3545;
}

/* end of newslatter-contact */

/*  start of aboutus ,sponsers & sporters  */

.about-sponsers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #efefef;
}
.about {
  width: 600px;
  /* background-color: green; */
}

.about-container {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 500px;
}
.sponsers {
  width: 100%;
  /* background-color: red; */
  max-width: 800px;
  overflow: hidden;
}

h1 {
  margin-top: 0;
  font-size: 24px;
}

p {
  font-size: 14px;
  line-height: 1.6;
  color: #333;
  margin-bottom: 10px;
}
.swiper-sponsers {
  width: 100%;
  height: 100%;
}

.swiper-slide-1,
.swiper-slide-2 {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-container {
  position: relative;
  max-width: 800px;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 100%;
}

.slide img {
  width: 100%;
  height: auto;
  display: block;
}

.slider-indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
}
/*  end of aboutus ,sponsers & sporters  */

/* starts of footer */
footer {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60vh;
  background-color: #efefef;
}
.contacts,
.social-media,
.aboutus,
.teachers {
  width: 25%;
  /* background-color: green; */
  padding: 2rem;
  text-align: center;
  margin: 2rem;
}
.footer-title {
  font-size: 1.5rem;
  color: #dc3545;
  text-align: flex-start;
  margin: 1rem;
}
.footer-para {
  font-size: 1rem;
  color: #626772;
  text-align: flex-start;
  margin: 0.5rem;
}
.footer-para:hover {
  color: #dc3545;
}
.copyright {
  background-color: #42495b;
  height: 90px;
  width: 100%;
  text-align: center;
  justify-content: center;
}
.copyright-text {
  /* margin-top: 1rem; */
  padding: 2rem;
  color: #fff;
}

/* responsive styles */
/* Styles for screens smaller than 768px */
@media (max-width: 767px) {
  footer {
    display: block;
    height: auto;
    /* padding: 2rem; */
  }

  .contacts,
  .social-media,
  .aboutus,
  .teachers {
    width: 100%;
    padding: 1rem;
    margin: 2rem 0;
  }
  .contacts {
    margin-top: 0rem;
  }
  .teachers {
    margin-bottom: 0rem;
  }
  .footer-title {
    font-size: 1.2rem;
    text-align: center;
    margin: 1rem 0;
  }

  .footer-para {
    font-size: 1rem;
    text-align: center;
    margin: 0.5rem 0;
  }

  .footer-para:hover {
    color: #dc3545;
  }

  .social-media {
    text-align: center;
  }

  .social-media i {
    font-size: 1.5rem;
    margin: 0 0.5rem;
  }

  .social-media i:hover {
    color: #dc3545;
  }

  .aboutus,
  .teachers {
    text-align: center;
  }

  .aboutus img,
  .teachers img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
  }

  .teachers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .teachers .teacher-info {
    margin-left: 1rem;
  }

  .teachers .teacher-info p {
    margin: 0.5rem 0;
  }

  .copyright {
    height: auto;
  }

  .copyright-text {
    padding: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    height: 100%;
    flex-direction: column;
  }
  .contacts,
  .social-media,
  .aboutus,
  .teachers {
    width: 100%;
  }
  .footer-title {
    text-align: center;
  }
  .footer-para {
    text-align: center;
    margin: 0.5rem;
  }
  .footer-para:hover {
    color: #dc3545;
  }
  .copyright {
    height: 100px;
  }
  .copyright-text {
    padding: 2px;
  }
}

/* end of footer */
.to-top {
  background: #dc3545;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
  scroll-behavior: initial;
}

.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}
/* responsive styles */
@media screen and (max-width: 768px) {
  .to-top {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
  }
}
