/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.slide-container {
  max-width: 1170px;
  width: 100%;
  padding: 40px 0;
}
.slide-content {
  margin: 0 40px;
  overflow: hidden;
}
.card {
  border-radius: 25px;

  width: 250px;
  height: 350px;
}
.card-img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 120px;
  width: 220px;
}
.card-content {
  background-color: #04d2c8;
  height: 130px;
  width: 250px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.card-image {
  position: relative;
  height: 200px;
  width: 250px;

  margin-top: 1rem;
}
.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.name {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
}
.description {
  font-size: 1rem;
  color: #fff;
  text-align: center;
}

.swiper-navBtn {
  color: #6e93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover {
  color: #4070f4;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}
.swiper-pagination-bullet {
  background-color: #6e93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #4070f4;
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }
  .swiper-navBtn {
    display: none;
  }
}
